@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ffffff;
	color: #0a0b0a;
}

.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns:before {
	background: #30a2ff;
}

.iconHover:hover {
	background-color: #35a29f;
	color: white;
}

.icon2 {
	color: black;
}

.parent-container {
	overflow: hidden;
	height: 100vh;
}

.parent-container::-webkit-scrollbar {
	width: 0.5rem; /* Adjust as needed */
}

.parent-container::-webkit-scrollbar-track {
	background: transparent;
}

.parent-container::-webkit-scrollbar-thumb {
	background-color: transparent;
}
